::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.7rem;
    height: 0.7rem
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  @media (min-width: 1600px) {
    /* colours for debugging each region */
    .col-large-side {
      max-width: 22.5% !important;
      float: left;
      /* background-color: red; */
    }
    .col-large-center{
      max-width: 55% !important;
      float: left;
      /* background-color:yellowgreen; */
    }
  }

  table{
    table-layout: fixed;
  }
  @media (max-width: 1200px){
    .btn-responsive {
      padding: 0.25rem 0.5rem !important;
      font-size: 0.8rem !important;
      line-height: 1.5 !important;
    }
  }
  @media (max-width: 800px){
    .btn-responsive {
      border-radius: 0.2rem !important;
      margin-top: 1px;
      margin-bottom: 1px;
    }
    .table-wrapper{
      font-size: 0.7rem
    }
    .small{
      font-size: 0.7rem !important;
    }
  }

  /* for toggle switch */

  .switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1.5rem;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    /* left: 4px;
    bottom: 4px; */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  input:checked + .slider {
    background-color: coral;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.5);
    -ms-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
  }



  /* for sticky table headers */
  .table.sticky th{
    position: sticky;
    top: 0;
    z-index:50;
    color: #fff;
    border-color: #fbfcfc;
    background-color: #343a40;
    transform: translateY(-2px);

  }