::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.7rem;
    height: 0.7rem
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
